<h1>Welcome to <%= @crm_app_name %>!</h1>
	<p>
		You can use this application to create and add to your list of contacts.<br>
		To see all of your contacts in your list, choose Your Contacts on the menu bar.<br>
		To add as many of your cool friends to your lis as you wish, choose Add Contact.<br>
	
	</p>