<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' type='text/css' href='/style.css'>
  </head>
  <body>
    <header>
    	<h1>FACE IN THE CROWD - CONTACT LIST</h1>
    </header>
  
	<nav>
	  <ul class="menulist">
	    <li><a href="/">HOME</a></li>
	    <li><a href="/contacts">YOUR CONTACTS</a></li>
	    <li><a href="/contacts/new">ADD A NEW CONTACT</a></li>
      
	  </ul>
	</nav>
    <%= yield %>

    <footer>
      <br>
    	<h4>This page created and maintained by Brian Harrison.</h4>
    </footer>
  </body>
</html>