<h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  <ul style="list-style: none;" max-width: 400px;>
  	<li>First Name: <input type='text' name='first_name' placeholder='First Name'>
  	<li>Last Name: <input type='text' name='last_name' placeholder='Last Name'>
  	<li>Email: <input type='text' name='email' placeholder='Your Email Address' style='width: 150px;'>
  	<li>Notes: <input type='text' name='note' placeholder='Notes' style='width: 150px;'>
  	<br>
  </ul>
  <input type='submit' value='Add This Contact'>
</form>