<h2>Add Contacts Here...</h2>

<form action='/contacts' method='post'>
  <ul style="list-style: none;" max-width: 400px;>
  	<li><label>First Name: </label><input type='text' name='first_name' placeholder='First Name' style='width: 150px;'>
  	<li><label>Last Name: </label><input type='text' name='last_name' placeholder='Last Name' style='width: 150px;'>
  	<li><label>Email: </label><input type='text' name='email' placeholder='Your Email Address' style='width: 150px;'>
  	<li><label>Notes: </label><input type='text' name='note' placeholder='Notes' style='width: 150px;'>
  	<br>
  </ul>
  <input type='submit' value='Add This Contact' display: inline-block;>
</form>