header {
    background:

    linear-gradient(
      rgba(255, 0, 0, 0.60), 
      rgba(255, 0, 0, 0.60)),
    
    url("http://www.toledoblade.com/image/2011/02/13/800x_b1_cCM_z/Plan-to-move-Raceway-Park-threatens-a-local-tradition-dating-to-19th-century-2.jpg");
      text-align: center;
      background-size: cover;
      color: black;
      height: 150px;
    }
    a {
      color: black;
    }
    ul {
      padding: 10px;
    }
    h1 {
      font-size: 50px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: red;
    }
    li {
      /*display: inline;*/
      padding: 0px 50px 0px 10px;
    }
    .menulist li {
      display: inline;
    }